@import './theme.css';


/* Global styles*/

/* Root styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000; 
  color: #fff; 
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  color: #ff1801; /* F1 red theme */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Buttons */
button {
  font-family: 'Press Start 2P', Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff1801; /* F1 red theme */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #d41601; 
  transform: scale(1.05);
}

/* Links */
a {
  color: #ff1801;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #ff1801;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #222;
}

table tr:hover {
  background-color: #333;
}

/* Cards */
.card {
  background-color: #111;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: #fff;
}

.card h3 {
  color: #ff1801;
}

/* Grid layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}